<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>404 Page not found</title>
    <link rel="icon" href="img/icon_weather.png">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/app-script.js"></script>
</head>

<body>

    <div class="main-content">
        {{>header}}

        <h1 class="red-text">404 - Not found
            <p>Reason : {{errorText}}</p>
        </h1>

    </div>



    {{>footer}}
</body>

</html>