<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="icon" href="img/icon_weather.png">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <div class="main-content">
        {{>header}}
        <p>
            Check weather here.
        </p>

        <form action="">
            <input type="text" value="" placeholder="Type location">
            <button>Search</button>
        </form>

        <p id="search-results">

        </p>
        
        <p id="search-results-error">

        </p>
    </div>
    
    {{>footer}}
    <script src="js/app-script.js"></script>
</body>
</html>